[Unit]
Description=Engine robots for Metagov Airdrop event
After=network.target
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
WorkingDirectory=/home/ubuntu/engine/robots
EnvironmentFile=/home/ubuntu/robots-secrets/app.env
Restart=on-failure
RestartSec=15s
ExecStart=/home/ubuntu/engine/robots/robots --network mumbai --address "${MOONSTREAM_TERMINUS_DIAMOND_CONTRACT_MUMBAI_ADDRESS}" --pool-id 184 --value 1 --collection 064cfd14-0b4b-4c1d-88d8-c4fee386ff35
SyslogIdentifier=robots-metagov-airdrop

[Install]
WantedBy=multi-user.target